{% extends 'vendas/base.html' %}
{% block title %}Lista de Vendas{% endblock %}

{% block conteudo %}
    <h2 class="mb-4">Lista de Vendas</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Data</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Valor Total</th>
            </tr>
        </thead>
        <tbody>
            {% for venda in vendas %}
            <tr>
                <td>{{ venda.data }}</td>
                <td>{{ venda.produto }}</td>
                <td>{{ venda.quantidade }}</td>
                <td>R$ {{ venda.preco }}</td>
                <td>R$ {{ venda.valor_total }}</td>
            </tr>
            {% empty %}
            <tr><td colspan="5">Nenhuma venda cadastrada.</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
